@{
    ViewBag.Title = "The Now Larimar Punta Cana";
}
<div class="page-header" id="destination-header">
    <div class="page-header-text">
        <h1>@ViewBag.Title</h1>
        <h4>Paradise awaits...</h4>
    </div>
</div>

<div class="page-content">
    <div class="page-sub-header">
        <h2>Punta Cana, Dominican Republic</h2>
        <h4>escape to paradise at the beautiful now larimar punta cana</h4>
    </div>

    <h1>More Coming Soon!</h1>
</div>
