@{
    ViewBag.Title = "The Now Larimar Punta Cana";
}
<div class="page-header" id="destination-header">
    <div class="page-header-text">
        <h1>@ViewBag.Title</h1>
        <h4>Paradise awaits...</h4>
    </div>
</div>

<div class="page-content">
    <div class="page-sub-header">
        <h2>Punta Cana, Dominican Republic</h2>
        <h4>escape to paradise at the beautiful now larimar punta cana</h4>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>
                We've chosen <em>paradise</em>
            </h2>
            <p>The Now Larimar in Punta Cana is an <em>Unlimited Luxury</em> resort on a white-sand palm-studded beach overlooking the dream-worthy turquoise Caribbean Sea. Featuring elegant suites and rooms, a world-clas spa, gourmet dining, endless activities and entertainment, and more, we think there's no better place to host our wedding.
            </p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <div id="TA_certificateOfExcellence921" class="TA_certificateOfExcellence">
                        <ul id="W0mUIoWy1gQ6" class="TA_links r30G8k">
                            <li id="xxcwFAYqnp1" class="kSJMBICB">
                                <a target="_blank" href="http://www.tripadvisor.com/Hotel_Review-g3176298-d897108-Reviews-Now_Larimar_Punta_Cana-Bavaro_Punta_Cana_La_Altagracia_Province_Dominican_Republic.html"><img src="https://www.tripadvisor.com/img/cdsi/img2/awards/CoE2015_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
                            </li>
                        </ul>
                    </div>
                    <script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=921&amp;locationId=897108&amp;lang=en_US&amp;year=2015&amp;display_version=2"></script>
                </div>
                <div class="col-md-8">
                    <p>The Now Larimar is the recipient of the coveted TripAdvisor Certificate of Excellence for 2015. It holds a 4.5 star rating from over 10,000 reviews with common praise for its incomparable luxury, delicious cuisine, and white-sand beach.</p>
                    <h2>
                        Only the <em>best</em>
                    </h2>
                </div>
            </div>
            
            
        </div>
    </div>
    

    <div id="TA_selfserveprop164" class="TA_selfserveprop">
        <ul id="nJSOLg4sJ" class="TA_links YelzrYei">
            <li id="fLbiYtGqSD" class="gzSdm0ri5NYZ">
                <a target="_blank" href="http://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor" /></a>
            </li>
        </ul>
    </div>
    <script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=164&amp;locationId=897108&amp;lang=en_US&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=false&amp;border=true&amp;display_version=2"></script>
</div>