@{
    ViewBag.Title = "Booking & Travel Information";
}
<div class="page-header" id="travelinfo-header">
    <div class="page-header-text">
        <h1>@ViewBag.Title</h1>
        <h4>All the information you need</h4>
    </div>
</div>

<div class="page-content">
    <div class="page-sub-header">
        <h2>easy, deposit-only booking</h2>
        <h4>escape to paradise with no hassle and only a deposit</h4>
    </div>

    <section>
        <div class="row">
            <div class="col-md-6">
                <img src="@Url.Content("~/Content/Images/Wedding/travel-agent-card.jpg")" alt="" style="width: 100%;"/>
            </div>
            <div class="col-md-6">
                <h1>Travel Agent</h1>
                <p>Book through our designated travel agent, Penny Seaver, for less hassle and group rates. Penny will take care of getting you the best price on your desired travel times, length of stay, and choice of ammenities. <strong>Make sure to let her know you're part of the Kalashian Wedding.</strong>
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <a href="tel:19208874311" class="btn btn-primary"><span class="glyphicon glyphicon-earphone"></span> Call Beaver Dam</a>
                    </div>
                    <div class="col-md-4">
                        <a href="tel:16088377500" class="btn btn-primary"><span class="glyphicon glyphicon-earphone"></span> Call Sun Prairie</a>
                    </div>
                    <div class="col-md-4">
                        <a href="mailto:pseaver@tljourneys.com" class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> Email Penny</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h1>Things to Know</h1>
                <ul>
                    <li>Only a deposit is required upon reservation. The total cost will not be due until closely preceeding the travel date.</li>
                    <li>No rooms are being blocked for our wedding party and, therefore, availability will diminish as we approach the wedding date.</li>
                    <li>Make sure to mention that you're with the Kalashian Wedding to receive the group pricing.</li>
                    <li>We recommend a stay of 7 nights for the best price.</li>
                    <li>A "Package" can include the hotel stay, airfaire, and transportation to/from the airport in Punta Cana.</li>
                    <li>A valid U.S. Passport that is at least six (6) months from expiration is required for all nationals entering the Dominican Republic. If you do not have a Passport or yours will be less than 6 months from expiration at the time of travel, <a href="http://travel.state.gov/content/passports/en/passports.html" target="_blank">apply for a new/updated Passport</a>.</li>
                </ul>
            </div>
        </div>
    </section>
</div>
