@{
    ViewBag.Title = "Nick & Becky";
    ViewBag.IsHome = true;
}

<div class="fullscreen-image" id="now-larimar-image">
    <div class="fullscreen-image-text">
        <h3>Shit gets real on</h3>
        <h1>November 11 2016</h1>
        <h4>Let us know if you're coming!</h4>
        <a href="@Url.Action("Rsvp", "Wedding")" class="btn btn-lg">RSVP</a>
    </div>
</div>